* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
    outline: none;
}
body {
    overflow-x: hidden;
    background: url('img/got.jpeg') no-repeat 50%/cover;;
    background-size: cover;
    font-size: 16px;
    height: 110vh;	
}